$full:100%;

/* reset */
*, *::before, *::after{box-sizing: border-box;}
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%;}
body {font-size:18px; line-height:1.6;}
html, body, div, span, iframe, p, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img {margin: 0; padding: 0; border: 0;}
iframe {overflow: auto; width: 100%; border: 0;}
table {width: 100%; border-collapse: separate; border-spacing: 0; font-size: inherit;}
th, td {font-size: inherit; line-height: inherit; word-break: normal;}
h1, h2, h3, h4, h5, h6 {font-weight:600;}
ol, ul {list-style: none;}
img {max-width: 100%; max-height: 100%;}
a {text-decoration: none; color: inherit;}
address, cite, em {font-style: normal;}
caption, legend {overflow: hidden; width: 0; height: 0; line-height: 0; text-indent: -9999em;}
input, textarea, select, optgroup, button {font-size: inherit; font-family: inherit; line-height: inherit;}
input, textarea {resize: none; border: 1px solid #e2e2e2; border-radius: 0; background: #fff;color:#666;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {height: 45px; padding: 0 20px; border: 1px solid #e2e2e2;border-radius:3px;}
input[type="checkbox"], input[type="radio"] {padding: 0; border-radius: 0;}
input[type="checkbox"][disabled], input[type="radio"][disabled] {opacity: .5;}
input[type="image"] {border: 0 none;}
input[type="text"],img,select {font-size: 1em; vertical-align: middle;}
select {height: 50px; padding-right: 30px; padding-left: 20px; border: 1px solid #e2e2e2; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #555;border-radius:3px;}
select::-ms-expand {display: none;}
button,input[type="button"], input[type="reset"], input[type="submit"] {overflow: visible; -webkit-appearance: button; cursor: pointer;}
button {border: 0; background-color: transparent;}
form, fieldset {width:100%;}

* {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img { -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    max-width:$full;
    max-height:$full;
  }

  @media screen and (max-width: 1400px){
	body {
		font-size:17px;
	}
}

@media screen and (max-width: 1024px){
	body {
		font-size:16px;
	}
}

@media screen and (max-width: 640px){
	body {
		font-size:14px;
	}
	.mobileHide3 {
		display:none !important;
	}

	.btnGroup {
		margin:15px 0;
	}
	.btn {
		padding:12px 45px;
	}
}

@media screen and (max-width: 500px){
	.mobileHide4 {
		display:none !important;
	}
}